body {
    font-family: Arial, sans-serif;
    background: aqua;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
    color: blueviolet;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  input[type="text"] {
    height: 100%;
    width: 70%;
    padding: 8px;
    font-size: 26px;
    color: red;
  }
  
  button {
    height: 100%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ff00e6;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: yellowgreen;
  }
  
  ul {
    list-style-type: disc;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 3px solid #dddddd00;
  }
  .container1 {
    font-size: large;
    max-width: 600px;
    margin: 20px auto;
    padding: 80 20px;
    color: blueviolet;
    background-color: #0dff00;
  }
  
  .completed {
    text-decoration: line-through;
    color: #fa8406;
  }
  
  .delete {
    cursor: pointer;
    color: red;
    background-color: yellow;
  }
  